.favorites{
    margin-top: 1%;
    margin-bottom: 2%;
    border: 1px solid white;
    padding: 10px;
}

.favorites > h2{
    margin-top: 1%;
}

.favorites > h3{
    margin-top: 10px;
    color: darkcyan
}

.favorites > h4{
    margin-top: 10px;
    color: darkorange
}